@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700,900);


/*body {
	  background-color:#F5F5F5;
	  color: #212121;
	  font-family: 'Lato', sans-serif;
	  font-weight: 400;
	  line-height: 1;
	  text-align: center;
}*/
header {
    padding-top: 5px;
    display: block;
    background-color: #80DEEA;
    text-align: middle;
    height: 50px;
}
img {
  height: 50px;
}
.A {
  float:left;
    width: 20%;
    height: 100%;
}
.B {
  float: left;
    width: 50%;
    height: 100%;
}
.C {
  float: left;
    width: 20%;
    height: 100%;
}
.D {
  float: left;
    width: 5%;
    height: 100%;
}
.E {
  float: left;
    width: 5%;
    height: 100%;
}


form {
                padding-top: 5px;
                width:100%;
}
.search {
                width: 70%;
                height: 35px;
                background:#fff;
                border: none;
                border-radius: 10px;
}
.button {

                width: 20%;
                height: 35px;
                background-color: #000000;
                color:#ffffff;
                border: none;
                border-radius: 10px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
}
.button:hover  {

                color:#207cca;


header {
	width: 2000px;
  background-color: #80DEEA;
  margin-top: 0px;
  height: 80px;
  background-size: cover;
  padding: 0px;
  text-align: center;
  border-radius: 0;
   box-shadow: 0;
}

img {
 position:left;
 width: 200px;
 height:70px;
 padding-right: 3000px;
 padding-top: 5px;
}*/

.wrap {
  max-width: 1000px;
  min-height: 500px;
  max-height: 450px;
  margin: 100px auto;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/29/294/294444/1-f.jpg?1420807091') top/cover no-repeat;
}

.right-menu {
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background: #ffffff;
  max-width: 120px;
  position: absolute;
  border-radius: 0px 3px 3px 0px;
}

.right-menu a,
.footer a {
  display: block;
  text-align: center;
  padding: 47px 28px;
  line-height: 30px;
  color: #B7B7B7;
}

.right-menu a span,
.footer a span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

a.active,
.right-menu a:hover {
  color: #222;
  position: relative;
}

a.active:after {
  content: '';
  height: 0;
  width: 0;
  border: 11px solid transparent;
  position: absolute;
  left: -21px;
  top: 50%;
  border-right: 11px solid #fff;
}

.right-menu a {
  border-bottom: 1px solid #B7B7B7;
}

.right-menu a i {
  font-size: 30px;
}

.avatar {
  margin-right: 100px;
  text-align: center;
  display: block;
  padding-top: 56px;
}

.avatar img {
  height: 150px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
	margin-left: 45px;
  margin-bottom: 10px;
}

.bubble {
  background: #fff;
  display: block;
  width: 42%;
  text-align: center;
	align-items: center;
	margin-left: 270px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  line-height: normal;
  margin-top: 25px;
  position: relative;
}

.bubble:after {
  content: '';
  top: -70px;
  left: 45%;
  right: 0;
  width: 0;
  height: 70px;
  position: absolute;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.bubble h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.bubble a {
  color: #888;
  font-size: 12px;
  font-style: italic;

}

.footer {
  bottom: 0;
  width: 880px;
  margin-bottom: 30px;
  min-height: 100px;
  border-top: 1px solid #9E9AAB;
	text-align: center;
}

.footer a:hover {
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
	text-align: center;
}

.footer a {
  display: block;
  color: #fff;
  padding: 25px 35px;
  border-right: 1px solid #9E9AAB;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 0px;
  width: 880px;
	text-align: center;
}

.profile,
.project,
.skills {
  display: none;
}

.profile.open,
.project.open,
.skills.open {
  display: block;
}
/*skill bar
