<!DOCTYPE html>
<html lang= "en">
  <head>
    <title> Squed Home </title>
    <link href="/static/style.css" rel= "stylesheet">
  </head>
      <body>
    <header>
        <p> <img src = "/static/images/homepg.png"> <h3> Connecting Studiers Everywhere </h3> </p>
    </header>


    <div class="login-box">
    <div class="lb-header">
      <a href="/login" class="active" id="login-box-link">Login</a>
      <a href="/signup" id="signup-box-link">Sign Up</a>
    </div>

    <div class="social-login">
      <a href="#">
        <i class="fa fa-facebook fa-lg"></i>
        Login in with facebook
      </a>

      <a href="https://accounts.google.com/ServiceLogin?sacu=1&continue=https%3A%2F%2Fappengine.google.com%2F_ah%2Fconflogin%3Fcontinue%3Dhttp%3A%2F%2Fsquednetwork.appspot.com%2Fhome&hl=en&service=ah#identifier">
        <i class="fa fa-google-plus fa-lg"></i>
        log in with Google


      </a>
    </div>
      <div> <p> This social media application allows you to meet others studiers nearby,
        to see where your friends are currently studying, and to communicate on all things
         education. </p>

      </div>
    </form>
  </div>




      </body>

</html>
