<!DOCTYPE html>
<html lang= "en">
  <head>
    <title> Squed Home </title>
    <link href="/static/profile.css" rel= "stylesheet">
     <script src="https://maps.googleapis.com/maps/api/js"></script>
     <script src="/static/map.js"></script>
  </head>
      <body>

    <header>
        <div class = "A"> <img src = "/static/images/homepg.png"> <h3> </h3> </div>
        <div class = "B"> </div>
        <div class = "C">
              <form>
                      <input class ="search" type="text" placeholder="Search..." required>
                      <input class = "button" type="button" value="Search">
              </form> </div>
       <div class = "D"> <a href="/map" id= map ><img src = "/static/images/map.png"></a></div>
       <div class = "E"> <a href="/profile" id = profile><img src = "/static/images/imgres.png"></a></div>
    </header>


    <div class="block">
      <div class="user">
        <img src="https://p.gr-assets.com/540x540/fit/hostedimages/1379785877/475985.jpg" class="avatar" alt="" />

        <div class="usr-info">
          <div class="rHa">
          <div class="Yia">
          <div class="gZa">
          <div class="rna KXa Xia" guidedhelpid="profile_name">Grace O'Brien</div></div>
          <div class="EXa Plb"></div></div>
          <div class="Yia Frc VQc"><div class="Nyb">
          <div class="Ny"><span class="J9a">Studying at </span><span class="K9a">San Diego State</span></div><div class="wyb FVb">
          </div></div></div></div>

          <div class="circle-button">
            <div> <span class="icon-txt">Friend Me</span></div>
          </div>

        


        </div>
      </div>

      <div class="nav">
      </div>

      <div class ="bio">
        <h1> Bio </h1>
          <h3> Dogs, Sunsets, and Food! </h3>


      </body>

</html>
