<!DOCTYPE html>
<html>
  <head>
    <title> Additional information </title>
    <link href="/static/userinfo.css" rel= "stylesheet">
  </head>
    <body>
      <header>
        <div class = "A"> <img src = "/static/images/homepg.png"> <h3> </h3> </div>
      </header>

        <div class="info" method="post">
          Please fill in additional information.<br>
          <p>Name<br><input type="text" name="fullname" ><br></p>
          <p>School<br><input type="text" school="schoolname"><br></p>
          <p>Age<br><input type="text" age="age"> <br></p>
          <input type="submit" value="Submit">
        </div>
      </body>
</html>
