<!DOCTYPE html>
<html>
  <head>
    <title> Additional information </title>
    <link href="/static/userinfo.css" rel= "stylesheet">
  </head>
    <body>
      <header>
        <div class = "A"> <img src = "/static/images/homepg.png"> <h3> </h3> </div>
      </header>

        <div class="info">

          <form enctype="multipart/form-data" method="post">
            Please fill in additional information.<br>
            <p>First Name <br> <input type="text" name="firstname" ><br></p>
            <p>Last Name <br> <input type="text" name="lastname" ><br></p>
            <p>School <br> <input type="text" name="school"><br></p>
            <p>Age <br> <input type="text" name="age"> <br></p>
            <p>Bio <br> <textarea rows="6" cols="40" name="bio"> </textarea> <br> </p>
            <p>Profile Picture <br> <input type="file" name="profile"> <br></p>
            <input type="submit" value="Submit">


          </form>

        </div>
      </body>
</html>
